* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #171518;
}
body{
    background-color: #f2f2f2;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    color: #CDD2D9;
}
.heading h1 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 25px;
    position: relative;

}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
   
}
.heading p{

    font-size: 18px;
    color:#666 ;
    margin-bottom: 1;
    color: #f2f2f2;
    font-family: 'Droid Sans Mono', sans-serif;
                                                
}
h1{

    position: relative;
    text-decoration: underline;
    left: 1%;

    }
.sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
}
.imagem-sobre{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.imagem-sobre img{

    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.imagem-sobre:hover img{
    transform: scale(1.2);
}
.sobre-conteudo{
    flex: 1;
    color: #f2f2f2;
}
.sobre-conteudo h2{
font-size: 40px;
margin-bottom: 55px;
color: #ca1010;
font-family:Georgia, 'Times New Roman', Times, serif;
}
.sobre-conteudo p {

    font-size: 20px;
    line-height: 2;
    color: #ffffff;
    
}
.sobre-conteudo .leia-mais{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.sobre-conteudo .leia-mais:hover{

    background-color:#f5f5f5 ;
    
    
}


@media screen and (max-width:768px) {
    .heading {
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;

    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
        color:#f2f2f2;
        font-family: "Droid Sans Mono";
    }
    .container{
        padding:0px;
    }
    .sobre{
    padding: 20px;
    flex-direction: column;

}
.imagem-sobre{
    margin-right: 0px;
    margin-bottom: 20px;
}
  .sobre-conteudo p{
      padding: 0px;
      font-size: 16px;
  }
  .sobre-conteudo button{

    font-size: medium;
    background-color: #CDD2D9;
  }
  .sobre-conteudo .leia-mais{
      font-size: 16px;
  }
}
#more {display: none;}
